@use 'styles/colours' as colours;

.main {
  position: relative;
  height: 30vh;
  overflow: auto;

  .bus_stop_desc {
    font-size: 20px;
    font-family: Montserrat, sans-serif;
  }

  .body {
    .header_container {
      height: 100%;
      .header_title {
        font-family: 'Montserrat', sans-serif;
        font-size: 10px;
      }
    }

    .refresh_button_container {
      justify-self: center;
      .refresh_button_icon {
        object-fit: contain;
        height: 70%;
        width: 70%;
      }
    }

    .bus_no_container {
      position: relative;
      left: 1%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding: 5%;
      color: colours.$white;
      background-color: colours.$black;
      width: 60%;
      border: 2px solid colours.$white;
      border-radius: 20px;

      .bus_no {
        font-size: 20px;
        font-family: 'Montserrat', sans-serif;
      }
    }

    .arr_time_container {
      display: flex;
      justify-content: center;
      justify-self: center;
      align-items: center;
      color: colours.$black;
      background-color: colours.$white;
      width: 50%;
      border: 2px solid colours.$black;
      border-radius: 20px;
      padding: 5%;

      .arr_time {
        font-family: 'Montserrat', sans-serif;
        font-size: clamp(10px, 16px, 90%);
      }
    }
  }
}
